In [7]:
import yfinance as yf

In [8]:
itsat = yf.Ticker('INTEQ')

In [9]:
itsat.info

{'quoteType': 'NONE',
 'symbol': 'INTEQ',
 'underlyingSymbol': 'INTEQ',
 'messageBoardId': 'finmb_30116',
 'maxAge': 86400,
 'trailingPegRatio': None}

In [10]:
itsat.history()

INTEQ: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []